$blue: #42afe3;
$grey-lighter:	#f5f7fa;

.navbar {
  height: 4rem;
  background: black;
  a {
    &:hover {
      color: #e6e6e6;
    }
  }
  .logo {
    font-size: 1.5rem;
    color: #e6e6e6;
  }
}

.box {
  &:hover {
    .media {
      color: $blue;
    }
    small {
      color: black;
    }
  }
}

.media {
  color: black;
}

.center {
  margin: 5%;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer {
  padding-bottom: 40px !important;
}

.login-content {
  padding-top: 10%;
}

.simple-recipe-element {
  margin: 1rem 0 -3.5rem 0;
  cursor: pointer;
}

.no-recipes {
  margin: 4rem;
}

.nutrition-row {
  border: solid 1px black;
  td {
    padding: 0.25rem 2rem;
    // text-align: center;
    &:last-of-type {
      text-align: center;
    }
  }
}

.recipe-name {
  padding: 1rem;
  padding-bottom: 0;
}

.recipe-description {
  // width: 80%;
  margin: auto;
  p {
    padding: 1rem;
    margin: 1rem;
  }
}

.detail-card {
  margin: 3rem;
}
