  <!-- site footer -->
  <footer class="footer is-text-centered">
    <div class="container">
      GetFit Nutrition Calculator - © 2016 - Brent Hamilton
    </div>
  </footer> <!-- end site footer -->
</body>
</html>
