<!-- navbar -->
<nav class="hero navbar is-dark is-bold">
  <p class="navbar-item is-text-centered">
    <a class="link is-info" href="/#/home">
      Browse
    </a>
  </p>
  <p class="navbar-item is-text-centered">
    <a class="link is-info" href="/#/home">
      My Recipes
    </a>
  </p>
  <p class="navbar-item is-text-centered logo">
    Get Fit
  </p>
  <p class="navbar-item is-text-centered">
    <a class="link is-info" href="/#/new">
      New Recipe
    </a>
  </p>
  <p class="navbar-item is-text-centered">
    <a class="link is-info" href="/logout">
      Logout
    </a>
  </p>
</nav> <!-- end navbar -->
