<% include partials/head.ejs %>
<% include partials/navbar.ejs %>

<!-- angular application -->
<main class="site-content">
  <div class="container">
    <ui-view autoscroll="false"></ui-view>
  </div>
</main><!-- end angular application -->

<!-- begin scripts. should probably browserify at some point.. -->

<!-- modules -->
<script src="/modules/recipe.module.js"></script>
<script src="/modules/tools.module.js"></script>

<!--controllers -->
<script src="/controllers/recipe.controller.js"></script>

<!-- directives -->
<script src="/directives/simple.recipe.directive.js"></script>
<script src="/directives/detail.recipe.directive.js"></script>
<script src="/directives/new.recipe.directive.js"></script>

<!-- services -->
<script src="/services/state.service.js"></script>

<!-- bootstrap our application -->
<script src="/application.js"></script>

<!-- routes! -->
<script src="/config/application.routes.js"></script>

<% include partials/footer.ejs %>
