<% include partials/head.ejs %>
<% include partials/navbar.ejs %>

<main class="site-content">
  <div class="content login-content">
    <h1 class="is-text-centered">
      Welcome to Get Fit
    </h1>
    </content>
  <p class="is-text-centered">
    Signin with
  </p>
  <div class="is-text-centered">
    <a class="button is-info" href="/auth/facebook">
      <i class="fa fa-facebook"></i>
    </a>
  </div>
</main>

<% include partials/footer.ejs %>
